@model MyApp.Application.ViewModels.UpdateProjectViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Project/Edit" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                <input name="Name" class="form-control" value="@Model.SelectedProject.Name" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Client</label>
            <div class="col-md-10">
                <select name="ClientId">
                    @foreach (var item in Model.Clients)
                    {
                        <option value="@item.Id" @(item.Id == Model.SelectedProject.Id ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Description</label>
            <div class="col-md-10">
                <input name="Quantity" class="form-control" value="@Model.SelectedProject.Description" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Completion Date</label>
            <div class="col-md-10">
                <input name="CompletionDate" class="form-control" type="datetime" value="@Model.SelectedProject.CompletionDate" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Update" class="btn btn-success" />
                <a href="/Project/Index" class="btn btn-info">Back to List</a>
                <input type="hidden" name="Id" value="@Model.SelectedProject.Id" />
            </div>
        </div>
    </div>
</form>