@model MyApp.Application.ViewModels.UserFormViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.ErrorMessages.Count() > 0)
{
    <div class="alert alert-danger">
        @foreach (var message in Model.ErrorMessages)
        {
            <strong>Error</strong> @message
        }
    </div>
}

<form action="@(Model.EditMode ? "/User/Edit" : "/User/Add")" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label class="col-md-2 control-label">Name</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Email</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Active</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Role</label>
            <div class="col-md-10">
                <select name="RoleId">
                    @foreach (var item in Model.Roles)
                    {
                        <option value="@item.Id" @(Model.EditMode && item.Id == Model.RoleId ? "selected" : "")>@item.Name</option>
                    }
                </select>
            </div>
        </div>

        @if (Model.EditMode == false)
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@(Model.EditMode ? "Update" : "Add")" class="btn btn-success" />
                <a href="/User/Index" class="btn btn-info">Back to List</a>
                <input type="hidden" name="Id" value="@Model.Id" />
            </div>
        </div>
    </div>
</form>