@model MyApp.Application.ViewModels.CreateUpdateEntryLogViewModel

@{
    ViewData["Title"] = "Entry Log Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="panel panel-default">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Project
                </th>
                <th>
                    Entry date
                </th>
                <th>
                    Hours
                </th>
                <th>
                    Description
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EntryLogs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProjectName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Hours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a href="/EntryLog/Edit/@item.Id" class="btn btn-warning">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a href="/EntryLog/Delete?id=@item.Id" class="btn btn-danger">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <form action="@(Model.EditMode ? "/EntryLog/Edit" : "/EntryLog/Add")" method="post">
            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    <label class="col-md-2 control-label">Project</label>
                    <div class="col-md-10">
                        <select name="ProjectId">
                            @foreach (var item in Model.Projects)
                            {
                                <option value="@item.Id" @(Model.EditMode && Model.ProjectId == item.Id ? "selected" : "")>@item.Name</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Entry Date</label>
                    <div class="col-md-10">
                        <input id="datepicker" name="EntryDate" class="form-control" value="@(Model.EditMode ? Model.EntryDate.ToString() : "")" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Hours</label>
                    <div class="col-md-10">
                        <input name="Hours" class="form-control" value="@(Model.EditMode ? Model.Hours.ToString() : "")" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">Description</label>
                    <div class="col-md-10">
                        <input name="Description" class="form-control" value="@(Model.EditMode ? Model.Description : "")" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@(Model.EditMode ? "Update" : "Add")" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

